@font-face {
  font-family: "RedBold";
  src: url(../../../assets/fonts/RedHatDisplay-Bold.ttf);
}
:root {
  --white: #fff;
  --black: #000;
  --black-low-opacity: #0000004d;
  --light-gray: #cacaca;
  --dark-gray: #4d4c4c;
  --dark-brown: #4e3728;
  --dark-gray: #242424;
  --grayish-brown: #996d50;
  --container-width: 97%;
}

.container-login {
  margin: 2rem auto 0 auto;
  width: 92%;
  max-width: 1080px;
}

.container-login .input-text {
  display: block;
  width: var(--container-width);
  font-size: 16px;
  padding: 9.4px 0 9.4px 8px;
  color: #000;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  outline: 0;
  transition: 0.2s ease-in-out;
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.container-login .label-login {
  font-family: "RedBold", sans-serif;
  display: block;
  margin: 2rem 0 0.3rem 0;
  font-size: 13px;
  color: var(--dark-gray);
}
.container-login p {
  margin-top: 0.2rem;
}
.container-input-password {
  width: var(--container-width);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--light-gray);
  padding: 5px 0 5px 8px;
  border-radius: 4px;
}

.container-input-password button {
  display: flex;
  align-items: center;
  all: unset;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  border: 0;
  color: var(--light-gray);
  padding: 0;
  margin: 0.3rem 0 0 0;
  width: 40px;
}
.container-input-password button img {
  width: 20px;
  margin: 0 1rem 0 0;
  padding: 0;
  height: auto;
  flex-grow: 1;
}
.container-input-password input {
  width: 80%;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 16px;
  color: var(--black);
}

.button-submit {
  display: block;
  background-color: var(--dark-brown);
  color: var(--white);
  border: none;
  width: 98%;
  border-radius: 15px;
  padding: 16px 0;
  margin: 4rem 0 0 0;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-low-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container {
  position: relative;
  width: 100px;
  height: 200px;
}
.container-msg-create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: var(--container-width);
}
.container-msg-create-account span {
  font-size: 1.1rem;
  color: var(--dark-gray);
}
.container-msg-create-account a {
  font-family: "RedBold", sans-serif;
  text-decoration: none;
  color: var(--dark-brown);
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
.container-msg-create-account a:hover {
  color: var(--grayish-brown);
}
@media screen and (max-width: 768px) {
  .container-msg-create-account {
    flex-direction: column;
  }
}
