:root {
  --white: #fff;
  --light-gray: #eee;
  --black-opacity: rgba(0, 0, 0, 0.102);
}

.select-farmm {
  padding: 25px 35px;
  height: 32px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  border-radius: 16px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0 auto;
}
