@font-face {
  font-family: "HatDisplay";
  src: url(../../assets/fonts/RedHatDisplay-Bold.ttf);
}
@font-face {
  font-family: "HatLight";
  src: url(../../assets/fonts/RedHatDisplay-Light.ttf);
}
:root {
  --white: #fff;
  --dark-brown: #7f5539;
}
.container-file-updade {
  width: 100vw;
  margin-top: 8rem;
}
.container-input-file {
  margin: 0 auto;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 160px;
  padding: 10px 0;
  height: 32px;
  background-color: var(--dark-brown);
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  border-radius: 16px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-input-file img {
  height: 20px;
  width: auto;
  margin-right: 0.5rem;
}
.container-input-file button {
  padding: 25px 35px;
  height: 32px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  border-radius: 16px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-input-file button:focus {
  outline: 0;
}

.loading {
  width: 100px;
  margin: 2rem auto 0 auto;
}
.container-title-home {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin: 0 auto 3rem auto;
}
.container-title-home h4 {
  text-align: center;
  font-family: "HatLight";
  font-size: 1.1rem;
  color: #242424;
}
.container-title-home img {
  margin-left: 0.5rem;
  width: 24px;
}
