:root {
  --light-gray: #f1f1f1;
  --medium-gray: #777;
  --dark-gray: #4e4e4e;
}
footer {
  background-color: var(--light-gray);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
footer p {
  margin: 0;
  padding: 0;
  color: var(--medium-gray);
  font-size: 14px;
  text-decoration: none;
  color: var(--dark-gray);
}
