.container-table {
  max-width: 900px;
  margin: auto;
  height: 350px;
  overflow-y: auto;
}
.container-table table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
}
.first-th {
  border: transparent;
}

th,
td {
  border: 1px solid #5a5959;
  padding: 8px;
  text-align: left;
  color: #242424;
}
td {
  width: 50%;
}
.number-td {
  width: 5%;
  text-align: center;
}
.container-table .input-vid,
.input-weight {
  width: 15%;
  font-size: 16px;
  padding: 9.4px 0 9.4px 8px;
  color: #000;
  background-color: #fff;
  border: 1px solid #cacaca;
  border-radius: 4px;
  outline: 0;
  transition: 0.2s ease-in-out;
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.container-table .input-weight {
  margin: 0 0 0.3rem 0.5rem;
}
.container-table .input-vid {
  margin: 0 0 0.3rem 2.8rem;
}

@media screen and (max-width: 768px) {
  .container-table {
    margin-top: 2.5rem;
  }
  .container-table .input-vid {
    margin: 0 0 0.3rem 0;
  }
  .container-table .input-vid,
  .input-weight {
    width: 25%;
  }
  .container-inputs-table {
    display: flex;
    justify-content: center;
  }
}
